<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Booking Form - XYZ Hotels </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="path/to/css/smart-forms.css">
        <link rel="stylesheet" href="path/to/css/font-awesome.min.css">      
  </head>
  <body>
 
        <!-- OUR BOOKING FORM MARKUP -->
        <div class="smart-wrap">
            <div class="smart-forms smart-container wrap-2">
            
              <div class="form-header header-primary">
                <h4><i class="fa fa-calendar"></i>Make Room Reservations in Minutes</h4>
              </div>
              
              <form method="post" action="/" id="contact">
                <div class="form-body">
                
                 <!-- OUR FORM ELEMENTS WILL GO HERE -->                                                
                  
                </div>
                <div class="form-footer">
                  <button type="submit" class="button btn-primary">Confirm Booking</button>
                  <button type="reset" class="button">Cancel</button>
                </div>
                
              </form>
              
            </div>
          </div>
  </body>
</html>
<link rel="stylesheet" href="{{url_for('static', path='/css/style.css')}}">
